<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krypton.Docking" version="80.24.3.64" targetFramework="net472" />
  <package id="Krypton.Navigator" version="80.24.3.64" targetFramework="net472" />
  <package id="Krypton.Ribbon" version="80.24.3.64" targetFramework="net472" />
  <package id="Krypton.Toolkit" version="80.24.3.64" targetFramework="net472" />
  <package id="Krypton.Workspace" version="80.24.3.64" targetFramework="net472" />
</packages>